{% extends 'baseCalendar.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}
{% block stylesheets %} 
    <style>
 body{
    background: url("https://i.pinimg.com/originals/3c/24/46/3c24462450c2a902bf7e18f3d9aada81.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
        #calendrier{
            
    background: rgba(16, 220, 238, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(16, 220, 238, 0.38);
  max-width: 50%;
  margin: auto;
  
        }
        #options{
            
            text-align:left;
            width: 40%;
        }

        @media screen and (max-width: 540px) {
    #calendrier {
        position: initial;
        margin-top:20%;
       margin-right:30%;
        min-width: 100%;
        
        
    }
}
@media screen and (min-width: 540px) and (max-width: 9900px) {
    #calendrier {
        padding: 15px;
        min-width: 10%;
        
       
      
    }
}
@media screen and (min-width: 780px) {
    #calendrier{
     min-width: 10%;
    
    }
}
    </style>
{% endblock %}
{% block body %}
<div class="container">
<br><br><br>

    <div id="calendrier">
    </div>
    <div id="options">
    </div>
    
     </div>
{% endblock %}

{% block javascripts %} 
<script>
window.onload = ()=> {
  let calendarElt = document.querySelector("#calendrier")

    let calendar = new FullCalendar.Calendar(calendarElt, {
          initialView: 'dayGridMonth',
          locale: 'es',
          timeZone: 'Europe/Spain',
          headerToolbar: {
              start: 'prev,next today',
              center: 'title',
              end: 'dayGridMonth,timeGridWeek,timeGridDay',
          },
         events: {{ data|raw }},
            editable: true,
            eventResizableFromStart: true
    })
    calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`
            let donnees = {
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor,
                "allDay": e.event.allDay
            }
            
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })
    calendar.render()
}
</script>
{% endblock %}