<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title of the PDF</title>
    </head>
    <body>
        {{app.user.username}}
        <p>Lorem Ipsum</p>
    </body>
</html>